﻿@model Boggle.ViewModels.WordVM
@{
    ViewData["Title"] = "Boggle";
}

<h2>Boggle</h2>

<div style="aside">
    <form asp-action="Result" ajax-poziv="da" ajax-rezultat="ajaxDiv" class="position-absolute"id="frmPWL">
        <div class="form-group">
            <label asp-for="PlayerName">Player name: </label>
            <input asp-for="PlayerName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="WordList">Words: </label>
            <input asp-for="WordList" class="form-control" />
        </div>

        <input type="submit" class="btn btn-outline-info" value="Score" />
    </form>

    <div id="ajaxDiv" class="position-absolute" ></div>

    <div id="ajaxDiv2" class="position-absolute"  ></div>

    <script>
        $(document).ready(function (parameters) {
            $.get("/Boggle/PlayersScore",
                function (res, status) {
                    $("#ajaxDiv").html(res);
                });
        });
    </script>
</div>

<script>
    $(document).ready(function (parameters) {
        $.get("/Boggle/Randomizer",
            function (res, status) {
                $("#ajaxDiv2").html(res);
            });
    });
</script>
<a class="btn btn-outline-info" href="/Boggle/Randomizer" ajax-poziv="da" ajax-rezultat="ajaxDiv2" id="aRnd">Randomize</a>