﻿@{
    var mat = (string[,])ViewData["Matrix"];
    var cells = 4;
    var i = 0;
}


<table class="table table-striped table-bordered text-capitalize text-center" id="tblRand">
    <thead>
    <tr>
        <th colspan="4">
            \(•◡•)/
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in mat)
    {
            
        if (i % cells == 0)
        {
            @:<tr>
        }
        <td>
            @item
                  
        </td>
           
        if ((i % cells) == (cells - 1))
        {
            @:</tr>
                   
        }
        i++;

    }

    </tbody>
</table>

