﻿#tblRand {
    font-weight: bold;
    table-layout: fixed; 
    width: 180px;
}
#frmPWL {
    margin-top: 40px;
}
#ajaxDiv {
    margin-top: 280px;
}

#ajaxDiv2 {
    margin-top: 280px;
    margin-left: 400px;
    margin-top: 0;
    padding-top: 10px;
}
#aRnd {
    margin-top: 280px;
    margin-left: 437px;
}